* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  
  .header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(../img/img-top.jpg);
    height: 1024px;
    padding-top: 217px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .header-text {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    width: 789px;
    margin-bottom: 32px;
  }
  
  .text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 481px;
  }
  
  .text span {
    font-weight: 600;
  }
  
  .header-button {
    width: 234px;
    margin-top: 44px;
    height: 49px;
    background: #9C0332;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .games {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 128px 120px;
    background-color: #000915;
    box-sizing: border-box;
  
    gap: 32px;
  }
  
  .game-common {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    width: 378px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  
  .game1 {
    background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(../img/game1.jpg);
  }
  
  .game2 {
    background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(../img/game2.jpg);
  }
  
  .game3 {
    background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(../img/game3.jpg);
  }