@media (max-width: 640px) {

    .header {
        padding: 239px 10px;
        text-align: center;
        align-items: center;
        gap: 33px;
    }

    .header-text {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 0;
    }

    .text {
        font-size: 14px;
        line-height: 22px;
        max-width: 343px;
    }

    .header-button {
        margin-top: 0;
    }

    .bottom {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 51px;
        padding-bottom: 85px;
        justify-content: center;
    }

    .seasons {
        align-items: center;;
    }

    .seasons-heading {
        font-size: 32px;
        line-height: 39px;
    }

    .text-seasons {
        max-width: 343px;
        text-align: center;
    }
}

@media (max-width: 1220px) {

    .header, .bottom {
        padding-left: 10px;
        padding-right: 10px;
    
    }
}